@import "tailwindcss";
@plugin "tailwindcss-motion";

svg {
  cursor: crosshair;
}

dialog {
  margin: revert;
}

.grid line {
  stroke: #e0e0e0;
  stroke-width: 1px;
}

.node-label,
.edge-label {
  font-size: 10px;
  text-anchor: middle;
  pointer-events: none;
}

.htmx-indicator {
  display: none;
}

.htmx-request #spinner {
  opacity: 100 !important;
  display: inline-block;
}

.htmx-request #submit-label {
  opacity: 0 !important;
  display: none !important;
}
